<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ default_title }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body class="bg-gray-100 min-h-screen">

    {% include "partials/_header.html" %}

    <main class="flex flex-col mt-4 px-4">
   
        {% block content %}{% endblock %}
    </main>


</body>
</html>
